input:focus,
textarea:focus {
  box-shadow: none !important;
  border-width: 1px !important;
  border-color: linear-gradient(135deg, #ac1ed6, #c26e73) !important;
}
textarea:focus {
  border-color: linear-gradient(135deg, #ac1ed6, #c26e73) !important;
}
input {
  border-color: linear-gradient(135deg, #ac1ed6, #c26e73) !important;
}

textarea {
  border-color: white !important;
}

textarea::placeholder {
  color: transparent;
  background: linear-gradient(
    135deg,
    #ac1ed6,
    #c26e73
  );
  -webkit-background-clip: text; 
  background-clip: text; /* Clip the gradient to the text (fallback) */
  -webkit-text-fill-color: transparent; /* Ensure the text is transparent */
}
body{
  background-color: black !important;
}
/*  */

/* 
@media (max-width: 768px) {
  .shownbackIcon{
    display: block !important;
  }
} */